<app-header></app-header>

<div *ngIf="this.getAuth().getStateLogin()" class="container mx-auto row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
    <div class="row col col-md-6 btn-dark rounded-2 p-2 me-1">  
        <p class="fs-3"> Heroes </p>
        <div class="container py-3 album">

            <app-card-heroe 
                [result]="result" 
                [cols]="2" 
                [showPowerstats]="true" 
                [showDescription]="false"
                [onlySelected]="true"
            ></app-card-heroe>

        </div>
    </div>
        
    <div class="row col col-md-6 btn-light rounded-2 p-2 ms-1"> 
        <p class="fs-3"> General Stats </p>
        <p>intelligence: {{getGrlIntelligence()}}</p>
        <p>strength: {{getGrlStrength()}}</p>
        <p>speed: {{getGrlSpeed()}}</p>
        <p>durability: {{getGrlDurability()}}</p>
        <p>power: {{getGrlPower()}}</p>
        <p>combat: {{getGrlCombat()}}</p>
    </div> 
</div>




