<app-header></app-header>

<div class="container">
    <nav class="navbar-dark bg-dark" aria-label="Third navbar example">
        <div class="container-fluid">     
            <form [formGroup]="search" class="navbar navbar-expand-sm">
                <input 
                    id="tosearch" type="text"
                    class="form-control me-2 full" 
                    placeholder="Search" aria-label="Search" 
                    formControlName="parametro"
                >
                <button id="btnsearch" class="btn btn-outline-light" type="submit" (click)="aplySearch()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 20 20">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>                
            </form>
        </div>
    </nav>
</div>

<!-- resultados de la busqueda -->


<div class="container pt-3 album">

    <app-card-heroe 
        [result]="result" 
        [cols]="4" 
        [showPowerstats]="false" 
        [showDescription]="true"
    ></app-card-heroe>

    <!-- <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let heroe of result">
            <div >
                <p class="text-white">sad</p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <div id={{indice}} class="col d-flex" *ngFor="let heroe of result, let indice=index">
            
            <app-card-heroe [heroe]="heroe" [index]="indice"></app-card-heroe>
            
        </div>
    </div> -->
</div>

