<main class="d-flex flex-column text-center text-white px-3 position-absolute top-50 start-50 translate-middle">
    <h1>SuperHeroesApp</h1>
    <p class="lead">
        Crea un equipo de 6 superhéroes pudiendo elegir entre una gran variedad, cada uno con diferentes caracteristicas.
    </p>
    <p class="lead">
      <a (click)="validate()" class="btn btn-lg btn-secondary text-dark fw-bold bg-warning">Comenzar</a>
    </p>
</main>

<footer class="position-absolute bottom-0 start-50 translate-middle-x text-white-50">
    <p>SuperHeroesApp by <a href="https://www.linkedin.com/in/nluna190898/" class="text-white">Nicolas Omar Luna</a>.</p>
</footer>
