/* You can add global styles to this file, and also import other style files */
*{
    transition: all .3s ease-in;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ng-touched.ng-invalid:is(input,textarea),
.ng-dirty.ng-invalid:is(input,textarea) {
    outline-color: 2px solid #bd0c0c ;
}