<div *ngIf="showFiller" #drawer mode="side" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark modal-body" style="width: 20vw; ">
  <button (click)="showFiller = !showFiller" class="p-2 btn circle btn-dark">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
    Menu
  </button>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" (click)= "cambiarActive_menu(indice)" *ngFor="let op of options, let indice=index">
        <a href="#" 
          class="nav-link text-white"
          [ngClass]= "options[indice]==ventana_selected ? 'active' : ''"
          aria-current="page"
          id={{indice}}
        >
        {{op}}
        </a>
    </li>
  </ul>

    <hr>
    <div class="dropdown">
    </div>
</div>

<button *ngIf="!showFiller" (click)="showFiller = !showFiller" class="m-2 p-2 btn btn-dark rounded-circle position-absolute" type="button">
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-list" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
  </svg>
</button>
